USE [master]
GO
/****** Objet : Database [HospitalDWH] Date de script : 17/07/2026 13:34:59 ******/
CREATE DATABASE [HospitalDWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HospitalDWH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HospitalDWH_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDWH]
GO
/****** Objet : Schema [Bronze] Date de script : 17/07/2026 13:35:00 ******/
CREATE SCHEMA [Bronze]
GO
/****** Objet : Schema [DataMarts] Date de script : 17/07/2026 13:35:00 ******/
CREATE SCHEMA [DataMarts]
GO
/****** Objet : Schema [Gold] Date de script : 17/07/2026 13:35:00 ******/
CREATE SCHEMA [Gold]
GO
/****** Objet : Schema [Silver] Date de script : 17/07/2026 13:35:00 ******/
CREATE SCHEMA [Silver]
GO
/****** Objet : Table [dbo].[FACT_Hospitalisations_extrait] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_Hospitalisations_extrait](
	[admission_id] [smallint] NOT NULL,
	[date_entree] [date] NOT NULL,
	[date_sortie] [date] NOT NULL,
	[centre_key] [tinyint] NOT NULL,
	[service_key] [tinyint] NOT NULL,
	[medecin_key] [smallint] NOT NULL,
	[numero_chambre] [nvarchar](50) NOT NULL,
	[patient_id] [nvarchar](50) NOT NULL,
	[duree_sejour_jours] [tinyint] NOT NULL,
	[type_admission] [nvarchar](50) NOT NULL,
	[mode_sortie] [nvarchar](50) NOT NULL,
	[readmission_30j] [bit] NOT NULL,
	[deces] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Objet : View [dbo].[VW_FACT_Extrait_Bronze] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_FACT_Extrait_Bronze] AS
SELECT
    CAST(admission_id       AS VARCHAR(20))  AS admission_id,
    CAST(date_entree        AS VARCHAR(20))  AS date_entree,
    CAST(date_sortie        AS VARCHAR(20))  AS date_sortie,
    CAST(centre_key         AS VARCHAR(10))  AS code_centre,
    CAST(service_key        AS VARCHAR(10))  AS code_service,
    CAST(medecin_key        AS VARCHAR(15))  AS matricule_medecin,
    CAST(numero_chambre     AS VARCHAR(10))  AS numero_chambre,
    CAST(patient_id         AS VARCHAR(20))  AS patient_id,
    CAST(type_admission     AS VARCHAR(20))  AS type_admission,
    CAST(mode_sortie        AS VARCHAR(30))  AS mode_sortie,
    CAST(readmission_30j    AS BIT)          AS readmission_30j,
    CAST(deces              AS BIT)          AS deces
FROM dbo.FACT_Hospitalisations_extrait;

GO
/****** Objet : Table [Gold].[DIM_Date] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Date](
	[date_key] [int] NOT NULL,
	[date_complete] [date] NOT NULL,
	[annee] [int] NULL,
	[trimestre] [int] NULL,
	[mois] [int] NULL,
	[nom_mois] [varchar](20) NULL,
	[jour_semaine] [varchar](15) NULL,
	[semaine] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[DIM_Centre] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Centre](
	[centre_key] [int] IDENTITY(1,1) NOT NULL,
	[nom_centre] [varchar](100) NOT NULL,
	[nb_lits] [int] NULL,
	[ville] [varchar](50) NULL,
	[code_centre_src] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[centre_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[DIM_Service] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Service](
	[service_key] [int] IDENTITY(1,1) NOT NULL,
	[nom_service] [varchar](100) NOT NULL,
	[type_service] [varchar](50) NULL,
	[code_service_src] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[FACT_Hospitalisations] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[FACT_Hospitalisations](
	[hospitalisation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_key] [int] NOT NULL,
	[centre_key] [int] NOT NULL,
	[service_key] [int] NOT NULL,
	[medecin_key] [int] NOT NULL,
	[chambre_key] [int] NOT NULL,
	[patient_key] [int] NOT NULL,
	[duree_sejour_jours] [decimal](6, 2) NOT NULL,
	[type_admission] [varchar](20) NOT NULL,
	[mode_sortie] [varchar](30) NOT NULL,
	[readmission_30j] [int] NULL,
	[deces] [int] NULL,
	[date_maj] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hospitalisation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : View [DataMarts].[DataMart_Occupation] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [DataMarts].[DataMart_Occupation] AS
SELECT c.nom_centre, s.nom_service, d.annee, d.trimestre,
       COUNT(*) AS nb_hospitalisations,
       AVG(f.duree_sejour_jours) AS duree_moy_sejour,
       SUM(CASE WHEN f.type_admission = 'Urgence' THEN 1 ELSE 0 END) * 1.0 / COUNT(*) AS taux_urgence
FROM Gold.FACT_Hospitalisations f
JOIN Gold.DIM_Centre  c ON f.centre_key  = c.centre_key
JOIN Gold.DIM_Service s ON f.service_key = s.service_key
JOIN Gold.DIM_Date    d ON f.date_key    = d.date_key
GROUP BY c.nom_centre, s.nom_service, d.annee, d.trimestre;

GO
/****** Objet : View [DataMarts].[DataMart_Qualite] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [DataMarts].[DataMart_Qualite] AS
SELECT s.nom_service, d.annee,
       COUNT(*) AS nb_hospitalisations,
       SUM(CAST(f.readmission_30j AS INT)) * 1.0 / COUNT(*) AS taux_readmission_30j,
       SUM(CAST(f.deces AS INT)) * 1.0 / COUNT(*) AS taux_mortalite
FROM Gold.FACT_Hospitalisations f
JOIN Gold.DIM_Service s ON f.service_key = s.service_key
JOIN Gold.DIM_Date    d ON f.date_key    = d.date_key
GROUP BY s.nom_service, d.annee;

GO
/****** Objet : Table [Bronze].[STG_Centres] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Centres](
	[code_centre] [varchar](10) NULL,
	[nom_centre] [varchar](100) NULL,
	[nb_lits] [int] NULL,
	[ville] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Bronze].[STG_Chambres] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Chambres](
	[numero_chambre] [varchar](10) NULL,
	[code_centre] [varchar](10) NULL,
	[type_chambre] [varchar](30) NULL,
	[capacite_lits] [int] NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Bronze].[STG_Hospitalisations] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Hospitalisations](
	[admission_id] [varchar](20) NULL,
	[date_entree] [varchar](20) NULL,
	[date_sortie] [varchar](20) NULL,
	[code_centre] [varchar](10) NULL,
	[code_service] [varchar](10) NULL,
	[matricule_medecin] [varchar](15) NULL,
	[numero_chambre] [varchar](10) NULL,
	[patient_id] [varchar](20) NULL,
	[type_admission] [varchar](20) NULL,
	[mode_sortie] [varchar](30) NULL,
	[date_extraction] [datetime2](7) NULL,
	[readmission_30j] [bit] NULL,
	[deces] [bit] NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Bronze].[STG_Medecins] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Medecins](
	[matricule_medecin] [varchar](15) NULL,
	[nom_complet] [varchar](150) NULL,
	[specialite] [varchar](100) NULL,
	[type_personnel] [varchar](30) NULL,
	[code_service] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Bronze].[STG_Patients] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Patients](
	[patient_id] [varchar](20) NULL,
	[age_tranche] [varchar](15) NULL,
	[sexe] [char](1) NULL,
	[mutuelle] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Bronze].[STG_Services] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[STG_Services](
	[code_service] [varchar](10) NULL,
	[nom_service] [varchar](100) NULL,
	[type_service] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DIM_Centre] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Centre](
	[centre_key] [tinyint] NOT NULL,
	[nom_centre] [varchar](100) NULL,
	[nb_lits] [smallint] NOT NULL,
	[ville] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DIM_Chambre_extrait] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Chambre_extrait](
	[chambre_key] [tinyint] NOT NULL,
	[numero_chambre] [nvarchar](50) NOT NULL,
	[type_chambre] [nvarchar](50) NOT NULL,
	[capacite_lits] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DIM_Medecin_extrait] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Medecin_extrait](
	[medecin_key] [smallint] NOT NULL,
	[nom_complet] [varchar](150) NULL,
	[specialite] [varchar](100) NULL,
	[type_personnel] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[DIM_Service] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Service](
	[service_key] [tinyint] NOT NULL,
	[nom_service] [varchar](100) NULL,
	[type_service] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Stg_DIM_Centre] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_DIM_Centre](
	[centre_key] [int] NULL,
	[nom_centre] [varchar](100) NULL,
	[nb_lits] [int] NULL,
	[ville] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Stg_DIM_Medecin] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_DIM_Medecin](
	[medecin_key] [int] NULL,
	[nom_complet] [varchar](150) NULL,
	[specialite] [varchar](100) NULL,
	[type_personnel] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Stg_DIM_Service] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_DIM_Service](
	[service_key] [int] NULL,
	[nom_service] [varchar](100) NULL,
	[type_service] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[Stg_FACT] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stg_FACT](
	[admission_id] [int] NULL,
	[date_entree] [date] NULL,
	[date_sortie] [date] NULL,
	[centre_key] [int] NULL,
	[service_key] [int] NULL,
	[medecin_key] [int] NULL,
	[numero_chambre] [varchar](10) NULL,
	[patient_id] [varchar](20) NULL,
	[duree_sejour_jours] [decimal](6, 2) NULL,
	[type_admission] [varchar](20) NULL,
	[mode_sortie] [varchar](30) NULL,
	[readmission_30j] [bit] NULL,
	[deces] [bit] NULL
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[DIM_Chambre] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Chambre](
	[chambre_key] [int] IDENTITY(1,1) NOT NULL,
	[numero_chambre] [varchar](10) NOT NULL,
	[type_chambre] [varchar](30) NULL,
	[capacite_lits] [int] NULL,
	[numero_chambre_src] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[chambre_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[DIM_Medecin] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Medecin](
	[medecin_key] [int] IDENTITY(1,1) NOT NULL,
	[nom_complet] [varchar](150) NOT NULL,
	[specialite] [varchar](100) NULL,
	[type_personnel] [varchar](30) NULL,
	[matricule_src] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[medecin_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [Gold].[DIM_Patient] Date de script : 17/07/2026 13:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DIM_Patient](
	[patient_key] [int] IDENTITY(1,1) NOT NULL,
	[age_tranche] [varchar](15) NULL,
	[sexe] [char](1) NULL,
	[mutuelle] [varchar](50) NULL,
	[patient_id_src] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Index [IX_Fact_Centre] Date de script : 17/07/2026 13:35:00 ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Centre] ON [Gold].[FACT_Hospitalisations]
(
	[centre_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objet : Index [IX_Fact_Date] Date de script : 17/07/2026 13:35:00 ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Date] ON [Gold].[FACT_Hospitalisations]
(
	[date_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objet : Index [IX_Fact_Service] Date de script : 17/07/2026 13:35:00 ******/
CREATE NONCLUSTERED INDEX [IX_Fact_Service] ON [Gold].[FACT_Hospitalisations]
(
	[service_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Bronze].[STG_Hospitalisations] ADD  DEFAULT (sysdatetime()) FOR [date_extraction]
GO
ALTER TABLE [Gold].[FACT_Hospitalisations] ADD  CONSTRAINT [DF_readmission_30j]  DEFAULT ((0)) FOR [readmission_30j]
GO
ALTER TABLE [Gold].[FACT_Hospitalisations] ADD  CONSTRAINT [DF_deces]  DEFAULT ((0)) FOR [deces]
GO
ALTER TABLE [Gold].[FACT_Hospitalisations] ADD  DEFAULT (sysdatetime()) FOR [date_maj]
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([centre_key])
REFERENCES [Gold].[DIM_Centre] ([centre_key])
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([chambre_key])
REFERENCES [Gold].[DIM_Chambre] ([chambre_key])
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([date_key])
REFERENCES [Gold].[DIM_Date] ([date_key])
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([medecin_key])
REFERENCES [Gold].[DIM_Medecin] ([medecin_key])
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([patient_key])
REFERENCES [Gold].[DIM_Patient] ([patient_key])
GO
ALTER TABLE [Gold].[FACT_Hospitalisations]  WITH CHECK ADD FOREIGN KEY([service_key])
REFERENCES [Gold].[DIM_Service] ([service_key])
GO
USE [master]
GO
